<template>
    <div class="lg:w-7/12 w-full h-96 lg:h-96">
        <div class="h-full w-full" id="map" ref="map"></div>
    </div>
</template>

<script setup>
import { Loader } from '@googlemaps/js-api-loader';
import { ref } from "vue";

let map = ref(null);

const loader = new Loader({
    apiKey: "",
    version: "weekly",
});
loader.load().then(()=> {
    let myLatLng = { lat:58.25, lng: 22.50};
    map = new google.maps.Map(map.value, {
        zoom: 8,
        center: myLatLng,
    });
});
</script>
