<template>
<div class="prose dark:prose-invert ring-1 p-4 sm:p-[1vw] bg-blue-300" v-if="data">

  <h1 class="text-5xl  mb-5">Ilmateade</h1>
  <h2 class="text-3xl  mb-2">{{ data.name}}</h2>
<div> <img :src="weatherIcon" alt="" class="w-1/6 "/>
    <p><span class="font-normal">Temperatuur: </span>{{data.main.temp}} &deg;C</p>
    <p><span class="font-normal">Tuule kiirus: </span>{{data.wind.speed}} meetrit sekundis</p>
     <p><span class="font-normal">Õhurõhk: </span>{{data.main.pressure}} mm elavhõbedasammast</p>


</div>
</div>
</template>

<script setup>
import { computed } from "@vue/runtime-core";

const props = defineProps({
    data: Object,
    default: null,
});
const weatherIcon = computed(
     ()=>`https://openweathermap.org/img/w/${props.data?.weather[0].icon}.png`
);
    </script>
